

body {
  color:navy;
  background-color:white;
  font-family: "Poppins", sans-serif;
}

.fa-map-marker-alt, .fa-dot-circle {
  color: #5bc0de;
  float:left;
}


h1, h2 {
  text-align: center;
}

.form-group {
  margin: 15px;
  display: flex;
}

.container-fluid {
  float: center;
}


  /*map*/
#googleMap {
  width: 95%;
  height: 600px;
  margin: auto;
}

#map {
  height: 500px;
  width: 600px;
} */

 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* #mapid {
  width: 1px;
  height: 1px;
  margin: auto; 
} */
